<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    </connectionStrings>
    <appSettings>
        <add key="dbName" value=""/>
        <add key="eventTopicId" value=""/>
        <add key="outputFile" value="results.csv"/>
        <add key="outputUsersFile" value="results.users.csv"/>
        <add key="from" value="06/10/2020 00:01:00 AM"/>
        <add key="to" value="19/01/2021 12:59:00 PM"/>
    </appSettings>
</configuration>